<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.user %>
</p>

<p>
  <strong>Feed updated at:</strong>
  <%= @feed.feed_updated_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @feed.feed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Last build date:</strong>
  <%= @feed.last_build_date %>
</p>

<p>
  <strong>Language:</strong>
  <%= @feed.language %>
</p>

<p>
  <strong>Item:</strong>
  <%= @feed.item %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
